/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-ago-2016, 6:30:02
    Author     : JAKO
*/

.logo{
    position: relative;
}

.logo img{
    max-width: 150px;
    position: absolute;
    top: -62px;
    left: -100px;
    z-index: 100;
}
.top-bar{
    z-index: 200;
    position: relative;
}
.navbar{
    background-color: rgba(21, 21, 21, 0.81);
    transition: background-color 0.6s;
    padding: 0px;
    height: 60px;
    z-index: 110;
}
.navbar .container, .navbar .container .collapse, .nav.navbar-nav, .nav.navbar-nav li, .nav.navbar-nav li a{
    height: 100% !important;
}
@media(max-width: 767px){
    .navbar .container .collapse{
        height: auto !important;
    }    
}
.navbar:hover{
    background-color: rgba(21, 21, 21, 1);
}
.nav.navbar-nav{
    padding: 0px;
    margin: 0px;    
}
.nav.navbar-nav li{
    margin: 0px;
    padding: 0px;
}
.nav.navbar-nav li > a{
    border-radius: 0px;
    line-height: 40px;
    padding: 10px 30px;   
}
.nav.navbar-nav li.active > a, 
.nav.navbar-nav li.active:hover > a{
    background-color: rgba(226, 185, 61, 0.63);
    font-weight: 600;
}
.nav.navbar-nav li:hover > a{
    background-color: transparent;
    border-bottom: 4px solid rgba(226, 185, 61, 0.63);
}
.carousel-content{
    margin-top: 70px !important;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.52);
}
.prev.hidden-xs, .next.hidden-xs{
    font-size: 50px;
    background-color: transparent !important;
    transition: transform 0.6s;
    opacity: 0.7;
}
.prev.hidden-xs:hover, .next.hidden-xs:hover{
    transform: scale(1.4);
    opacity: 1;
}
#main-slider .carousel .btn-slide, 
#main-slider .carousel-indicators .active:after, 
#main-slider .carousel-indicators .active{
    background: rgba(226, 185, 61, 0.63);
    background-color: rgba(226, 185, 61, 0.63);
}
#main-slider .carousel-indicators .active, 
#main-slider .carousel-indicators .active:after{
    border: 1px solid rgba(226, 185, 61, 0.63);
}
#feature, #recent-works, #services, #partner{
    /*padding-top: 80px;*/  
}